* {
    margin: 0;
    padding: 0;
   }

header,
footer {
    width: 100%;
    height: auto;
    padding: 18px;
    background-color: rgb(10, 10, 155);
    color: rgb(210, 212, 203);
}

h1,
h2 {
    text-align: center;
}

ul {
    padding-left: 40px;
    font-size: 20px;
}

li {
    padding:5px;
}

p {
    text-align: center;
    font-size: 30px;
  }
  
  .hdrIcon {
    display: block;
    height: 70px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}

  .card {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    border: 5px solid gray;
    box-shadow: 10px 15px #5c5b5b;
    border-radius: 24px;
    line-height: 1.5;
  }

  .cardImage {
    display: block;
    height: 340px;
    width: 390px;
    margin-left: auto;
    margin-right: auto;
  }

  .internal {
    padding: 12px 36px;
  }